<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Global Power Plants Database</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <h1 style="text-align: center;">Global Power Plants Database</h1>
    <div style="float: right; padding-right:5rem;" id="chart"></div>
    <div style="padding-left: 5rem;">
        <p><a href="https://powerplant.onrender.com/">View All Data</a></p>
        <p> View by primary fuel source: 
            <ul>
                <li><a href="https://powerplant.onrender.com/biomass">Biomass</a></li>
                <li><a href="https://powerplant.onrender.com/coal">Coal</a></li>
                <li><a href="https://powerplant.onrender.com/cogeneration">Cogeneration</a></li>
                <li><a href="https://powerplant.onrender.com/gas">Gas</a></li>
                <li><a href="https://powerplant.onrender.com/geothermal">Geothermal</a></li>
                <li><a href="https://powerplant.onrender.com/hydro">Hydro</a></li>
                <li><a href="https://powerplant.onrender.com/nuclear">Nuclear</a></li>
                <li><a href="https://powerplant.onrender.com/oil">Oil</a></li>
                <li><a href="https://powerplant.onrender.com/petcoke">Petcoke</a></li>
                <li><a href="https://powerplant.onrender.com/solar">Solar</a></li>
                <li><a href="https://powerplant.onrender.com/storage">Storage</a></li>
                <li><a href="https://powerplant.onrender.com/waste">Waste</a></li>
                <li><a href="https://powerplant.onrender.com/wave">Wave and Tidal</a></li>
                <li><a href="https://powerplant.onrender.com/wind">Wind</a></li>
                <li><a href="https://powerplant.onrender.com/other">Other</a></li>
            </ul>
        </p>
        <p> View by capacity
            <ul>
                <li><a href="https://powerplant.onrender.com/capacitylow">Low (200 >)</a></li>
                <li><a href="https://powerplant.onrender.com/capacitymedium">Medium (200-599)</a></li>
                <li><a href="https://powerplant.onrender.com/capacityhigh">High (600 &lt)</a></li>
            </ul>
        </p>
        <p> View by 2017 Estimated Energy Generation
            <ul>
                <li><a href="https://powerplant.onrender.com/low">Low (200 >)</a></li>
                <li><a href="https://powerplant.onrender.com/medium">Medium (200-1000)</a></li>
                <li><a href="https://powerplant.onrender.com/high">High (1000 &lt)</a></li>
            </ul>
        </p>
        <p> 
            <div class="dropdown">
                <button">View by Country</button>
                <div class="dropdown-content">
                    $$COUNTRY_LINKS$$
                </div>
            </div>
        </p>
    </div>

    <h2 style="text-align: center;">$$Sorted_By_Header$$</h2>
    <p style="text-align: center;"><a href="%%Previous_Link%%">Previous</a>&emsp;&emsp;<a href="%%Next_Link%%">Next</a></p>
    <table id="table">
        <thead>
            <tr>
                <th>Country</th>
                <th>Country Code</th>
                <th>Plant Name</th>
                <th>Plant Identification Number</th>
                <th>Plant URL</th>
                <th>Capacity (MW)</th>
                <th>Primary Fuel Source</th>
                <th>2017 Estimated Energy Generation</th>
            </tr>
        </thead>
        <tbody>
            $$TABLE_DATA$$
        </tbody>
    </table>

    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
    <script>
        const chartData = $$Graph$$;
        const data = [{
            x: chartData.countryNames,
            y: chartData.estimated2017,
            type: "bar"
        }];
        Plotly.newPlot("chart", data);
    </script>
</body>
</html>
